
{% extends 'pages/base_collection_point.html' %}

<!-- to display the navbar contents -->
{%  block navbar_content %}
<i style="color: cyan;" class="fas fa-home-alt"></i>&nbsp;Home &nbsp;&nbsp;

<i style="color: cyan;"  class="fas fa--alt"></i>&nbsp;Add KCPE Collection Point

{%  endblock navbar_content %}

<!--===================== to display the webpage ================= -->
{% block content %}

<!--=====END search textbox============== -->
number of collection points : {{ collection_points_count }}
<br>

   <a href="{% url 'show_KCPE_collection_form' %}">Insert a new KCPE Collection Point</a>

    <!-- message from backend -->
    <!-- JS script -->
    {% for message in messages %}
       {% if message.tags == 'success'  %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      var m = "{{ message }}";
      swal("perfect", m, "success")
      
    </script>
      {% endif %}
    {% endfor %}
    
    <!-- to make the messgae dissapear after a period of time -->
    <!-- <script>
        setTimeout(function() {
            document.getElementById('success-message').style.display = 'none';
        }, 3000);  // Disappear after 5 seconds (5000 milliseconds)

        //  Scroll to the last row in the table
         var table = document.getElementById('kcpe_collection_points');
         table.scrollTop = table.scrollHeight;
       
    </script> -->
    <!-- END message from -->

    <div class="container">
        <br><br><br>
        <table class="table table-bordered table-striped table-hover table-sm caption-top" id="kcpe_collection_points" style="text-align: center;">
            <thead class="table-success">
                <tr>
                    <th>ID</th>
                    <th>School code</th>
                    <th>School Name</th>
                    <th>Entry</th>
                    <th>Collection Point</th>
                    <th>Route</th>
                </tr>
            </thead>
            <!-- Data from DB or the backend -->
            <tbody>
                {% if all_collection_points %}
                    {% for collection_point in all_collection_points %}
                        <tr>
                            <td>
                                <!-- to show a collection point in details -->
                                
                                <a href="{% url 'display_detailed_KCPE_collection_point' collection_point.id %}"> {{ collection_point.id }}</a>
        
                            </td>
                            <td>{{ collection_point.school_code }}</td>
                            <td>{{ collection_point.school_name }}</td>
                            <td>{{ collection_point.entry }}</td>
                            <td>{{ collection_point.collection_point }}</td>
                            <td>{{ collection_point.route }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>  <!-- END // container -->
    <br><br><br>
{% endblock content %}


















