{% extends 'pages/base.html' %}


<!DOCTYPE html>
<html lang="en">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <head>
    <!-- ... -->
    <style>
 

    </style>
    <!-- ... -->
  </head>
  <body>
    <!-- to display the navbar contents -->
    {%  block navbar_content %}
    {% if user.is_authenticated %}
        <i style="color: cyan;" class="fas fa-home-alt"></i>&nbsp;&nbsp; Home
   
    <div class="welcome-message">
        <p><strong>Logged in as, {{ user.username }}! to Elimu Njiru</strong></p>
        
      </div>
    {% endif %}
    {%  endblock navbar_content %}

    <!--===================== to display the webpage ================= -->
    {% block content %}
    <div class="container">
      
      <br />
      {% if user.is_authenticated %}
      <!-- Place the welcome message inside a div -->
      <div class="welcome-message">
        <p><strong>Karibu, {{ user.username }}! to Elimu Njiru</strong></p>
        
      </div>
      <br />
    </div>

    <!-- ... -->
        <!-- Display user-specific content or redirect to another page only ifa a user is logged in or authenticated -->
        <!-- <div class="card-group"> -->
          <!-- =============================================================== -->
          <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col">
              <div class="card h-100 text-bg-warning mb-3" style="max-width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'display_Contacts' %}">Show contacts</a></h5>

                  <p class="card-text">Displays all the school and their contacts.</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 text-bg-info mb-3" style="max-width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'submit_Contacts' %}">Insert a new school</a></h5>
                  <p class="card-text">Number of schools in Njiru subcounty.</p>

                  <h5><p class="card-text"><strong>{{ school_count }} schools available.</strong></p></h5>

                  <p class="card-text"><strong>{{ primary_schools }} primary schools</strong></p>

                  <p class="card-text"><strong>{{ public_primary_schools }} public primary schools</strong></p>
                  <p class="card-text"><strong>{{ private_primary_schools }} private primary schools</strong></p>
                  <p class="card-text"><strong>{{ secondary_schools }} secondary schools </strong></p>
                  <p class="card-text"><strong>{{ public_secondary_schools }} public secondary schools</strong></p>
                  <p class="card-text"><strong>{{ private_secondary_schools }} private secondary schools</strong></p>

                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Last updated {{ last_updated }}</small>
                </div>
              </div>
            </div>
            <!-- Enrolment card -->
            <div class="col">
              <div class="card h-100 text-bg-dark mb-3" style="max-width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url '' %}">Enrolment</a></h5>
                  <p class="card-text">The total enrolment of all schools in Njiru subcounty.</p>

                  

                </div>
                <div class="card-footer">
                  <small class="text-body-primary">Last updated {{ last_updated }}</small>
                </div>
              </div>
            </div>
            <!-- Collection points -->
            <div class="col">
              <div class="card h-100 text-bg-dark mb-3" style="max-width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url '' %}">Collection Points</a></h5>
                  <p class="card-text">The collection points of KCSE, KCPE & KEPSEA of schools in Njiru subcounty.</p>
                  <p class="card-text"><a href="{% url 'display_kcpe_collection_points' %}">{{ KCPE_collection_point_count }} : KCPE Collection Points</a></p>
                  <p class="card-text"><a href="{% url 'display_kepsea_collection_points' %}">{{ KEPSEA_collection_point_count }} : KEPSEA Collection Points</a></p>

                  

                </div>
                <div class="card-footer">
                  <small class="text-body-primary">Last updated {{ last_updated }}</small>
                </div>
              </div>
            </div>
            
          </div>
          
          
          <!-- ========================================================================================= -->
      <!-- </div> -->
      
      
      {% else %}
      <br />
      <div class="card text-center">
        <div class="card-header">
          <h5><strong>Sign In</strong></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Elimu Njiru</strong></h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a href="{% url 'account_login' %}" class="btn btn-primary"><strong>Sign In</strong></a>
          <br>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>
           
      <!-- ... -->
      {% endif %}
    </div>
    
    <!-- ===================== -->
    <!DOCTYPE html>
    <html>
    <head>
      <title>School Search Collection Points</title>
      <style>
        .result {
          margin-top: 10px;
          padding: 10px;
          border: 1px solid #ccc;
          display: none;
        }
      </style>
      <script>
        function searchSchool() {
          var input = document.getElementById('schoolCode').value;
          var resultDiv = document.getElementById('result');
    
          // Make an AJAX request to the Django server
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
              var response = JSON.parse(xhr.responseText);
    
              // if (response.school_name) {
              //   resultDiv.innerHTML = response.school_name;
              //   resultDiv.style.display = 'block';

                if (response.school_name) {
                    var resultText = "School Name: " + response.school_name + "<br>";
                    resultText += "entry: " + response.entry + "<br>";
                    resultText += "collection_point: " + response.collection_point + "<br>";
                    
                    resultDiv.innerHTML = resultText;
                    resultDiv.style.display = 'block';

              } else {
                resultDiv.innerHTML = 'No matching school found.';
                resultDiv.style.display = 'block';
              }
            }
          };
    
          xhr.open('GET', '/search/?query=' + input, true); // Modify the URL to match your Django URL pattern
          xhr.send();
        }
      </script>
    </head>
    <body>
      <h3>Quick School Search Collection Points</h3>
      <input type="text" id="schoolCode" placeholder="Enter schoolcode or name">
      <button onclick="searchSchool()">Search</button>
    
      <div id="result" class="result"></div>
    </body>
    </html>
  
    <!-- ===================== -->

  </body>
  {% endblock content %}
</html>