{% extends 'pages/base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KCPE Collection Point Details</title>
  </head>
  <body>
    {% block content %}
    <!-- <h2>School Details</h2> -->

    <div class="card">
      <h5 class="card-header">KCPE Collection Point Details</h5>
      <div class="card-body">
        <h5 class="card-title">{{ specific_collection_point.school_name }}</h5>
        <p class="card-text">
          {{ specific_collection_point.school_code }}
          <br />
          {{ specific_collection_point.entry }}
          <br />
          {{specific_collection_point.collection_point}}
          <br />
          {{specific_collection_point.route }}
          <br />
          {{specific_collection_point.created_at }}
          <br />

        </p>
        <a href="{% url 'display_kcpe_collection_points' %}" class="btn btn-primary">Go Back</a>

        <a
          href="{% url 'delete_KCPE_collection_point' specific_collection_point.id %}"
          class="btn btn-danger"
          >Delete</a
        >
        <a
          href="{% url 'update_KCPE_collection_point' specific_collection_point.id %}"
          class="btn btn-secondary"
          >Update</a
        >
      </div>
    </div>

    
    {% endblock %}
  </body>
</html>
